<template name="Overall">
    {{>Nav}}
    <div class="w3-main" style="margin-left:340px;margin-right:40px">
        <!-- Header -->
        <div class="w3-container" style="margin-top:80px" id="showcase">
            <h1 class="w3-jumbo w3-text-purple"><b>Overall Rankings</b></h1>
            <h1 class="w3-xxxlarge w3-text-blue"><b></b></h1>
            <hr style="width:50px;border:5px solid purple" class="w3-round">
        </div>

        <!-- Overall-PL -->
        <div class="w3-container" id="services" style="margin-top:75px">
            <h1 class="w3-xxlarge w3-text-blue"><b>Programming Languages</b></h1>
            <hr style="width:50px;border:5px solid purple" class="w3-round">
            <canvas id="Overall-PL" width="600" height="400"></canvas>
        </div>
        <!-- Overall-Tech -->
        <div class="w3-container" id="services" style="margin-top:75px">
            <h1 class="w3-xxlarge w3-text-blue"><b>Technologies</b></h1>
            <hr style="width:50px;border:5px solid purple" class="w3-round">
            <canvas id="Overall-Tech" width="600" height="400"></canvas>
        </div>
    </div>
</template>