<Template name="Table">
    <div style="margin-top:60px">
        <h1 class="w3-xxlarge w3-text-dark-gray"><b>Table</b></h1>
        <hr style="width:50px;border:3px solid darkorange" class="w3-round">
        <div class="select-group w3-container w3-margin" style="width: 600px">
            <div class="" style="float: left;">
                <h5>YEAR: </h5>
                <select class="w3-select w3-padding-16 " id="year-select" style="width:200px"
                        name="option">
                    <option value="2018">2018</option>
                    <option value="2017">2017</option>
                    <option value="2016">2016</option>
                    <option value="2015">2015</option>
                </select>
            </div>
            <div class="" style="float: right;">
                <h5>QUARTER: </h5>
                <select class="w3-select w3-padding-16 " id="quarter-select" style="width:200px"
                        name="option">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
        </div>
        {{> reactiveTable class="table table-bordered table-hover table-striped" settings = settings}}
    </div>
</Template>