<template name="Welcome">
    {{>Nav}}
    <div class="w3-main" style="margin-left:340px;margin-right:40px">
        <!-- Header -->
        <div class="w3-container" style="margin-top:80px" id="showcase">
            <h1 class="w3-jumbo w3-text-purple"><b>What's Hot & What's New</b></h1>
            <h1 class="w3-xxxlarge w3-text-blue"><b></b></h1>
            <hr style="width:50px;border:5px solid purple" class="w3-round">
            <h3>This project target at helping programmers find trending programming languages & technologies to learn.

                This project will focus on mainly to aspects: New and Hot.

                Generally, “Hot” means the current popularity. This will give out the most used PL/technologies
                recently. Such as Java, C/C++, NodeJS, etc.

                “New” means the potential of trending. This will give out the PL/technologies that would likely become a
                trend in the future. Such as Scala, Golang, etc.

                Note that a PL/technology could satisfy both aspects – it’s popular & fast growing.</h3>
        </div>

    </div>
</template>